
mobtale.spritebuilder/mobtale.xcodeproj/project.xcworkspace/xcuserdata/timokloss.xcuserdatad/UserInterfaceState.xcuserstate

mobtale.spritebuilder/mobtale.xcodeproj/xcuserdata/timokloss.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
