<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>music/after_colors.wav</key>
		<string>music/after_colors.m4a</string>
		<key>music/bonitobonito.wav</key>
		<string>music/bonitobonito.m4a</string>
		<key>music/title.wav</key>
		<string>music/title.m4a</string>
		<key>sounds/click.wav</key>
		<string>sounds/click.caf</string>
		<key>sounds/move.wav</key>
		<string>sounds/move.caf</string>
		<key>sounds/take.wav</key>
		<string>sounds/take.caf</string>
		<key>sounds/text.wav</key>
		<string>sounds/text.caf</string>
		<key>sounds/touch.wav</key>
		<string>sounds/touch.caf</string>
		<key>sounds/walk.wav</key>
		<string>sounds/walk.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
